# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Keys
keys/upload-keystore.jks
.keys/upload-keystore.jks
*.jks

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# History
.history

# Local env files
.env
.env.*
!.env.example

# Vercel
.vercel


# Android
android/keystore.properties
android/local.properties
android/.gradle/
android/.idea/
android/build
android/app/build

# Root Gradle cache
.gradle/